= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    .input-group
      .input-group-addon
        .glyphicon.glyphicon-envelope
      = f.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email)
  .form-group
    .input-group
      .input-group-addon
        .glyphicon.glyphicon-asterisk
      = f.password_field :password, autocomplete: 'off',  class: 'form-control', placeholder: User.human_attribute_name(:password)
  .form-group
    = f.submit t('.sign_in'), class: 'btn btn-primary btn-block'

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t('.forgot_password'), new_password_path(resource_name)

  %hr
  .text-center
    - if devise_mapping.omniauthable?
      = link_to '/users/auth/twitter', title: t('.sign_in_with_twitter') do
        %svg{ width: '55px', height: '55px', space: 'preserve', version: '1.1', viewbox: '0 0 512 512', x: '0px', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', y: '0px'}
          %path.twitter-icon{ d: 'M412,50H100c-27.614,0-50,22.386-50,50v312c0,27.614,22.386,50,50,50h312c27.614,0,50-22.386,50-50V100 C462,72.386,439.614,50,412,50z M371.942,207.125c3.553,79.059-55.408,167.203-159.768,167.203 c-31.743,0-61.289-9.305-86.164-25.253c29.821,3.515,59.586-4.758,83.218-23.278c-24.596-0.453-45.356-16.703-52.508-39.035 c8.808,1.684,17.473,1.19,25.383-0.962c-27.03-5.433-45.692-29.784-45.083-55.826c7.577,4.211,16.245,6.74,25.46,7.032 c-25.034-16.73-32.12-49.786-17.396-75.045c27.723,34.006,69.143,56.385,115.857,58.729c-8.199-35.16,18.474-69.019,54.755-69.019 c16.168,0,30.776,6.825,41.029,17.75c12.804-2.52,24.833-7.198,35.694-13.639c-4.197,13.126-13.11,24.141-24.715,31.098 c11.37-1.357,22.204-4.379,32.284-8.851C392.454,189.301,382.926,199.201,371.942,207.125z'}
      = link_to '/users/auth/facebook', title: t('.sign_in_with_facebook') do
        %svg{ width: '55px', height: '55px', space: 'preserve', version: '1.1', viewbox: '0 0 512 512', x: '0px', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', y: '0px'}
          %path.facebook-icon{ d: 'M411.945,50h-312c-27.614,0-50,22.386-50,50v312c0,27.614,22.386,50,50,50h312 c27.614,0,50-22.386,50-50V100C461.945,72.386,439.56,50,411.945,50z M323.688,160.658c0,0-22.893,0-31.988,0 c-11.291,0-13.645,4.625-13.645,16.309c0,9.723,0,28.227,0,28.227h45.633l-4.391,49.551h-41.242v148.03h-59.111V255.372h-30.74 v-50.178h30.74c0,0,0-7.215,0-39.517c0-37.087,19.832-56.452,63.818-56.452c7.205,0,40.926,0,40.926,0V160.658z'}
