
%nav
  %ul
    %li{ class: "#{'active' if controller_name == 'welcome'}"}
      = link_to t('.home'), main_app.root_path
    - if user_signed_in?
      %li{ class: "#{'active' if controller_path =~ /^helena\/admin/}"}
        = link_to t('.admin'), helena.admin_surveys_path
      %li
        = link_to t('.logout'), main_app.destroy_user_session_path, method: :delete
    - else
      %li{ class: "#{'active' if controller_path =~ /^devise/}"}
        = link_to t('.sign_in'), main_app.user_session_path
