- if survey.newest_version.active?
  .panel.panel-default.survey
    .panel-heading= survey.newest_version.survey_detail.title
    .panel-body
      %p= survey.newest_version.survey_detail.description
      - if user_signed_in?
        = link_to t('.new_session'), helena.new_session_path(survey_id: survey), class: 'btn btn-success pull-right'
      - else
        = link_to t('.sign_in'), main_app.user_session_path, class: 'btn btn-primary  pull-right'

    - if user_signed_in?
      - if current_user.sessions.where(survey: survey).any?
        %table.table
          %tbody
            - current_user.sessions.where(survey: survey).asc(:created_at).each do |session|
              %tr
                %td.icon{class: "#{ session.completed? ? 'text-success' : 'text-danger'}"}
                  - if session.completed?
                    %span.glyphicon.glyphicon-ok-circle{ title: t('.session_completed') }
                  - else
                    %span.glyphicon.glyphicon-warning-sign{ title: t('.session_not_completed') }
                %td.created_at
                  = time_ago_in_words(session.created_at)
                %td.version
                  = Helena::Version.model_name.human
                  = survey.versions.find(session.version_id).version
                %td
                  - if session.completed?
                    = link_to t('.view'), helena.session_path(session.view_token)
                  - else
                    = link_to t('.proceed'), helena.edit_session_path(session.token)
