.row
  .col-xs-12.col-md-2
    = image_tag 'logo.png', alt: 'Helena Demo', class: 'logo'
  .col-xs-12.col-md-9
    %h1 Helena Demo App
    %p Helena is an online survey/test framework designed for agile survey/test development, longitudinal studies and instant feedback.
%h2 Available Questionaries...
.row
  - @surveys.each do |survey|
    .col-xs-12.col-sm-6.col-lg-4
      .survey
        %h3= survey.newest_version.survey_detail.title
        %p= survey.newest_version.survey_detail.description

        - if user_signed_in?
          - if current_user.questionary_sessions.where(survey: survey).any?
            %table.table
              %tbody
                - current_user.questionary_sessions.where(survey: survey).asc(:created_at).each do |session|
                  %tr
                    %td= time_ago_in_words(session.created_at)
                    %td
                      - if session.completed?
                        = t('.session_completed')
                      - else
                        = link_to t('.session_not_completed'), helena.edit_survey_session_path(survey, session)


          = link_to t('.complete_questionary'), main_app.new_survey_questionary_session_path(survey)
        - else
          = link_to t('.sign_in'), main_app.user_session_path
